@import url("navbar.css");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*************************
  MAIN SECTION
  **************************/

.main--section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title--container {
  text-align: center;
  margin-top: 8rem;
  font-size: 20px;
  color: #545454;
}

.section--details {
  width: 90%;
  height: 70vh;

  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
}

.card {
  width: 300px;
  margin: 40px;
  height: 400px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: url("./img/card_cover.png") no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate3D(0, -1px, 0) scale(1.03);
}
.card--image {
  margin-top: 1rem;
  width: 85%;
  height: 65%;
  
  border-color: white;
  border-style: solid;
}

.card--image img{
  height: 100%;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  margin: auto;
  display: block;
  
}

.card--body {
  background-color: white;
  width: 85%;
  color: black;
  margin-top: 0.5rem;
  height: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.warning-icon {
  width: auto;
  height: 30px;
}

.container2 {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  width: 55%;
  border: 1px solid #ffffff;
  box-shadow: 0 2px 50px #00000008;
  border-radius: 10px;
}
.details-row {
  width: 100%;
  display: flex;

  font-size: 1.5rem;
}
.details-row .label-name {
  width: 50%;
  text-align: right;

  padding: 1rem;
  color: #0d7eba;
  border-bottom: 1px solid #f8f8f8;
}

.details-row .label-text {
  width: 50%;
  background-color: #f8f8f8;
  padding: 1rem;
  color: #545454;
  border-bottom: 1px solid #f8f8f8;
  font-size: 1.2rem;
}
.status {
  font-size: 15px;
  color: white;
  padding: 0.5rem;
  background-color: #0d7eba;
  text-align: center;
  border-radius: 10px;
  width: 4rem;
}
.map iframe {
  height: 15rem;
  border-radius: 10px;
}

/***************************************
RESPONSIVE
***************************************/
@media only screen and (max-width: 1032px) {
 

  .card {
    width: 250px;
    height: 350px;
  }

  .details-row {
    font-size: 1.2rem;
  }

  .details-row .label-text {
    font-size: 1rem;
  }
  .status {
    font-size: 12px;
    width: 3.8rem;
  }
}

@media only screen and (max-width: 900px) {
 

  .section--details {
    display: grid;
    grid-template-columns: auto;
  }
  .container1 {
    width: 100%;
  }

  .card {
    width: 400px;

    height: 500px;
  }

  .card--body {
    font-size: 20px;
  }

  .warning-icon {
    width: auto;
    height: 40px;
  }

  .container2 {
    width: 95%;
    margin-top: 2rem;
  }
  .details-row {
    width: 100%;
    font-size: 1.5rem;
  }

  .details-row .label-text {
    font-size: 1.2rem;
  }

  .status {
    font-size: 15px;

    width: 4rem;
  }
  .map iframe {
    height: 15rem;
    border-radius: 10px;
  }
}


@media only screen and (max-width: 540px) {
  .card {
    width: 300px;

    height: 400px;
  }

  .details-row {
    font-size: 1.2rem;
  }

  .details-row .label-text {
    font-size: 1rem;
  }

  .status {
    font-size: 13px;

    width: 3rem;
  }

  .title--container {
    font-size: 15px;
  }

  .card--body {
    font-size: 15px;
  }

  .warning-icon {
    width: auto;
    height: 30px;
  }
}
