@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Mochiy+Pop+P+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Mochiy+Pop+P+One&family=Signika+Negative:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Mochiy+Pop+P+One&family=Signika+Negative:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=NTR&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Salsa&display=swap');
@import url("navbar.css");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {


  font-family: "Nunito", sans-serif;
}






/***************************************************
MAIN SECTION
***************************************************/

.main--section {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;

}

.section1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 1.5rem;
 
}

/************************************************
FILTER FORM
**********************************************/
.filter--form {
  width: 350px;
  height: 70vh;
  background-color: #0d7eba;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter--form p {
  align-self: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: white;
}

form {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 0.9rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

form .input-title {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.form-field {
  border: 2px solid #ddd;
  height: 2.5rem;
  border-radius: 4px;
  outline: 0;
  transition: 0.2s;
  margin-top: 0.8rem;
  font-size: 1rem;
}

.form-field:focus {
  border-color: #0d7eba;
}

.status-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.type {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.types {
  display: flex;
  flex-wrap: wrap;
}

.input-box1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 0.8rem;
}

.input-box2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 0.8rem;
}

.input-box2 .details {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.input-box2 input {
  margin-top: 0.3rem;
}



.input-box3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.input-box3 .inpu-title {
  margin-top: 1.5rem;
}

.input-box4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-box4 .input-title {
  margin-top: 1.3rem;
}

.button--container {
  align-self: center;
  margin: 1rem;
}

.filter-btn {
  text-decoration: none;
  border-style: none;
  justify-self: center;
  padding: 0.6rem 2rem;
  border-radius: 20px;
  background-color: #0d7eba;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}

.filter-btn:hover {

  background-color: black;
  color: white;

}

.section2 {
  width: 65%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: thin;
  font-family: "Nunito", sans-serif;

}

.section2--title {
  text-align: center;
  color: #545454;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
}

.card {
  width: 300px;
  margin: 40px;
  height: 550px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.card--image {
  margin-top: 1rem;
  width: 85%;
  height: 50%;
  border: 2px solid #0d7eba;;
 
}

.card--image img{
  height: 100%;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  margin: auto;
  display: block;
  object-fit: contain;
}

.card--body {
  background-color: #c7e6ef;
  width: 85%;
  color: black;
  margin-top: 0.5rem;
  height: 40%;
  border-radius: 10px;
  color: #545454;
  display: flex;
  flex-direction: column;
}

.general-info {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  width: 100%;
}

.card--body .right {
  font-size: 16px;
  font-weight: 600;
  margin-left: 4rem;
  width: 60%;
}

.card--body .left {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 20px;
}
.status{
  font-size: 1rem;
}

.left .status {
  margin-top: 0.5rem;
  font-size: 15px;
  padding: 0.3rem;
  background-color: #0d7eba;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.card--details {
  padding: 0.4rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.card--body a {
  text-decoration: none;
  margin-top: 0.6rem;
  align-self: center;
  padding: 0.6rem;
  background-color: #0d7eba;
  border-radius: 15px;
  border-color: #0d7eba;
  border-style: hidden;
  color: white;
  font-size: 14px;
}

.card--body a:hover {
  background-color: black;
}



.search-menu-bar {
  display: none;
}

/************************************
RESPONSIVE
*************************************/



@media only screen and (max-width: 900px) {
  .section2.active {
    display: flex;
  }

 

  .section2 {
    display: none;
  }

 

  .section1 {
    display: none;
  }


  .section1.active {
    display: flex;
    width: 80%;

  }

  .filter--form {
    width: 80%;
    height: 62vh;

  }


  .search-menu-bar {
    display: block !important;
    position: fixed;
    z-index: 99;
    background: #fff;
    box-shadow: 0 -2px 70px #0000001f;
    border-radius: 10px;
    bottom: 1.2rem;
    width: 20rem;
    left: 50%;
    padding: 15px 0;
    transform: translate(-50%);
  }

  .search-menu-bar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
  }

  .search-menu-bar ul li {

    text-align: center;
    margin-top: 1px;
    border-right: 1px solid #f7f7f7;
  }

  .search-menu-bar ul li a {
    text-decoration: none;
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 14px;
    color: #9a9a9a;
    border: none;
    background-color: transparent;
    margin: auto;

  }

  .search-menu-bar img {
    width: 18px;
    height: auto;
    margin-right: 6px;
    margin-bottom: -2.5px;
  }

  .main--section {
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 0;
  }


}