@import url('https://fonts.googleapis.com/css2?family=NTR&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
  color: white;
}
li i{
  
    margin-right: 1rem;
    color: #000; /* Setează culoarea iconițelor la negru */

}
.nav h2{
  font-size: 2.5rem;

}

a {
  text-decoration: none;
}

.btn {
  background: #67a599;
  color: white;
  padding: 0.31rem 0.624rem;
  text-align: center;
  border-radius: 1.87rem;
  cursor: pointer;
}

.btn:hover {
  color: black;
  background: #9feaea;
  padding: 0.18rem 0.5rem;

}

.navbar {
  position: fixed;
  background: #6BBBBD;
  width: 15%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.side_bar .logo-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side_bar .logo-name img {
  position: relative;
  width: 5rem;
  height: 100%;

}

.side_bar li {
  font-size: 1.2em;
  padding: 0.62rem 2.5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.side_bar li:hover {
  background: #9feaea;
  color: black;
  border-radius: 1.87rem;
  cursor: pointer;
}

.side_bar li img {
  margin-right: 1rem;
}


.container {
  position: absolute;
  right: 0;
  width: 82%;
  height: 100vh;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.container .header {

  width: 87vw;
  height: 15vh;
  background: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}




.side_bar ul{
margin-top: 2rem;
}


.container .content {
  position: relative;

  min-height: 90vh;
  width: 100%;
  text-align: left;


}
.content p{
  font-size: 2rem;
  margin-top: 1rem;
  font-weight: 800;
}

#users-table{

  height: 90%;
  width: 90%;
}
.right-side-panel table{
  height: 90%;
  width: 90%;
}

#users-panel{
 
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.table-row-white {
  background-color: #ffffff;
}

.table-row-grey {
  background-color: #f0f0f0;
}

th {
  background-color: #67a599;
  color: white;
  text-align:center;
}

.table-container {
  width: 85%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

table {
  width: 100%;
}



/*responsive*/
@media(max-width: 1100px) {
  .side_bar {
    display: none;
  }

  .nav-menu-btn {
    display: block;
  }

  .nav-menu-btn i {
    font-size: 1.2rem;
    margin-left: 1.7rem;
    color: black;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }

  .nav-menu-btn i:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 78vw;
    height: 15vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  }

  .container .content .cards {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

}

@media(max-width: 500px) {
  .side_bar {
    display: none;
  }

  .nav-menu-btn {
    display: block;
  }

  .nav-menu-btn i {
    font-size: 0.6rem;
    margin-left: 0.3rem;
    color: black;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }

  .nav-menu-btn i:hover {
    background: rgba(255, 255, 255, 0.15);
  }

  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 0.93rem;
  }

  .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 0.93rem;
    font-size: 0.93rem;
    font-weight: bold;
    text-align: left;
  }

}