@import url("navbar.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #303433;
}

body {

  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

/******************
*/

.sub-navbar {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  flex-grow: 1;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}


div.image {
  background: url(./img/login.png) no-repeat;
  background-size: 100% 102%;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 50%;
  max-width: 50%;
}

.login-container {
  width: 60%;

  /* padding: 24px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forget-password-messages {
  text-align: center;
  font-size: 1.1em;
  line-height: 2.33rem;
  margin-bottom: 1.4rem;
  color: #696969;
}

.forget-password-messages:hover {
  color: #0d7eba;
  cursor: pointer;
}

.register-messages {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #0d7eba;
}


.register-messages:hover {
  color: #fdcd4b;
}

.title {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.062rem;
  margin-top: 5rem;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Nunito", sans-serif;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 1.25rem;
}

.form-control .tooltip {
  font-size: 0.8rem;
  display: flex;
  margin-left: 1rem;
  color: red;
  visibility: hidden;
}

input,
.submit {
  border: none;
  outline: none;
  border-radius: 1.87rem;
  font-size: 1.1em;
  text-decoration: none;
}

input {
  width: 100%;
  background: #e6e6e6;
  color: #333;
  letter-spacing: 0.031rem;
  padding: 0.87rem 4rem;
}

input~i {
  position: absolute;
  left: 2rem;
  top: 1.2rem;
  color: #888;
  transition: color 0.4s;
}

input:focus~i {
  color: #0d7eba;
}

.between_form_and_submit {
  width: 18.75rem;
  height: 0.125rem;
  margin: 1.5rem;
}

.welcome-message {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
  color: #696969;
}

.submit {
  color: #fff;
  padding: 0.87rem 4rem;
  margin: 0.05rem auto;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-weight: bold;
  background-image: linear-gradient(to right, #6bbbbd, #0d7eba);
  cursor: pointer;
  transition: opacity 0.4s;
}

.submit:hover {
  opacity: 0.9;
}

.error {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}


/* ----  Responsiveness   ----  */
@media (max-width: 900px) {

  .login-container {



    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-navbar {

    display: flex;
    align-items: center;
    justify-content: center;


  }

  .login-container {
    width: 80%;
    text-align: center;

  }

  .image {
    display: none;
  }

  .login-container {
    margin-top: 2rem;
  }

  .title {

    font-size: 1.8rem;

  }

  .welcome-message {

    font-size: 0.9rem;

  }
}
