@import url("navbar.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/***************************************************
MAIN SECTION
***************************************************/


.main--section {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  margin-left: 1.5rem;
}

.section1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

/************************************************
FILTER FORM
**********************************************/
.filter--form {
  width: 18.75rem;
  height: 80vh;
  background-color: #0d7eba;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter--form .user p {
  margin-bottom: 2rem;
  margin-top: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.7rem;
  text-align: center;
  font-weight: 600;
  font-family: "Coiny";
  color: white;
}

.filter--form .user i {
  margin-left: 6rem;
  font-size: 4rem;
  margin-top: 1rem;

}

/***interior cu maniu***/
.menu-container {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 1.25rem;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 0.9rem;

}

.menu-item {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 1.8rem;
  height: 6.25rem;
  width: 17.25rem;
  background: #c7e6ef;
  border-radius: 0.93rem;
  padding: 1rem;
  color: #333;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 7px;
  margin-top: 1rem;
  margin-bottom: 0.9rem;

  transition: background-color 0.3s;
}

.menu-item i {
  margin-right: 0.62rem;
}

.menu-item:hover,
.menu-item:focus {
  background-color: #ddd;
}

/***********/

.section2 {
  width: 55%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: thin;

}

.section2 .form1 {
  width: 72%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border-radius: 1.87rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: url('./img/fundal-form.png');
  margin-top: 1rem
}

.section2 .form1 .login-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.section2 .form1 h1 {
  font-family: Coiny;
  font-size: 2rem;
  margin-top: 2rem;
}

.section2 .form1 .login-form .form-control {
  width: calc(50% - 20px);
  position: relative;
  margin-top: 0.62rem;
  margin-bottom: 1.25rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;


}

.section2 .form1 .login-form .form-control input,
button {
  border: none;
  outline: none;
  border-radius: 1.87rem;
  font-size: 1rem;
}

.section2 .form1 .login-form .form-control input {
  width: 100%;
  background: #e6e6e6;
  color: #333;
  letter-spacing: 0.3px;
  padding: 0.87rem 2.12rem;

}

.section2 .form1 .login-form .form-control input~i {
  position: absolute;
  left: 0.87rem;
  top: 36.5%;
  transform: translateY(-50%);
  color: #888;
  transition: color 0.4s;
}

.section2 .form1 .login-form .form-control input:focus~i {
  color: #0D7EBA;
}

.form1 .button {
  height: 3.12rem;
  width: auto;
  margin-bottom: 2rem;

}

.form1 .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 1.06rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 1.25rem;
  letter-spacing: 0.12rem;
  background: linear-gradient(135deg, #6bbbbd, #0d7eba);
  cursor: pointer;

}

.form1 .button input:hover {
  background: linear-gradient(-135deg, #6bbbbd, #0d7eba);
}

.search-menu-bar {
  display: none;
}


/*********
User activity
*/
.section3 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.user--activity {

  width: 100%;
  max-width: 18.75rem;
  height: 80vh;
  background-color: #c7e6ef;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 2rem;

}

.user--activity .user--photo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #0D7EBA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.user--activity .user--photo p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.user--activity h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: black;
  margin-top: 1rem;
  margin-bottom: 0;
}

.user--activity h4 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(86, 84, 84);
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.user--activity .icons {
  font-size: 2.3rem;
  color: rgb(86, 84, 84);
  margin-top: 1rem;
  margin-left: 1rem;
  cursor: pointer;

}

.activity {
  width: 13.75rem;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: 2rem;
  border-radius: 0.62rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.activity h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: black;
  margin-bottom: 0;
}

.activity h5 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(86, 84, 84);
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/*********************/
.form-control .tooltip {
  font-size: 0.8rem;
  display: flex;
  margin-left: 1rem;
  color: red;
  visibility: hidden;
}

.error {
  border: 2px solid red !important;

}

.valid {
  border: 2px solid green !important;
}

/************************************
RESPONSIVE
*************************************/


@media only screen and (max-width: 1100px) {
  .section1 {
    display: none;
  }

  .section3 {
    display: none;
  }

  .section2 {
    display: none;
  }

  .section1.active {
    display: flex;
    width: 100%;
    overflow-y: scroll;
    justify-content: center;

  }

  .filter--form {

    height: 70vh;

  }

  .filter--form .user p {
    margin-bottom: 1rem;
    margin-top: 1.5rem;

  }

  .section2.active {
    display: flex;
    width: 90%;

  }


  .section3.active {
    display: flex;
    width: 100%;
    overflow-y: scroll;

    justify-content: center;

  }

  .user--activity {
    width: 70%;
    margin-top: 2rem;
    margin-left: 0;
  }

  .main--section {


    justify-content: center;
    margin-top: 4rem;
    margin-left: 0;
    width: 100%;
    overflow-y: scroll;

  }


  .search-menu-bar {
    display: block !important;
    position: fixed;
    z-index: 99;
    background: #fff;
    box-shadow: 0 -2px 70px #0000001f;
    border-radius: 0.62rem;
    bottom: 1.2rem;
    width: 25rem;
    left: 50%;

    transform: translate(-50%);
  }

  .search-menu-bar ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
  }

  .search-menu-bar ul li {

    text-align: center;
    margin-top: 1px;
    border-right: 1px solid #f7f7f7;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    border: none;
    background-color: transparent;
    margin: auto;
    padding: 14px 0;
  }

  .search-menu-bar ul li a {
    text-decoration: none;
    color: #9a9a9a;
  }

  .search-menu-bar img {
    width: 1rem;
    margin-right: 0.37rem;
    margin-bottom: -2.5px;
  }

  .form-control .tooltip {
    font-size: 0.57rem;
    display: flex;
    margin-left: 1rem;
    color: red;
    visibility: hidden;
  }

}

@media only screen and (max-width: 700px) {
  .section2 .form1 {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

  }

  .section2 .form1 .login-form .form-control {
    width: 100%;
    position: relative;
    margin-bottom: 1.25rem;
    margin-left: 1rem;

  }

  .section2 .form1 h1 {

    font-size: 1.6rem;
    margin-top: 2rem;
  }



}
