@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Mochiy+Pop+P+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Mochiy+Pop+P+One&family=Signika+Negative:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Mochiy+Pop+P+One&family=Signika+Negative:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=NTR&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Salsa&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e1f1f1;
  background: url("./img/filter_cover.png") no-repeat;
  background-size: cover;
}

.navigation {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  line-height: 100px;
  background: linear-gradient(rgba(39, 39, 39, 0.5), transparent);
  z-index: 100;

}

.nav-logo img {
  width: auto;
  height: 4.5rem;
  margin-top: 0.2rem;
  user-select: none;
  margin-left: -2rem;
  position: absolute;
}

.nav-menu ul {
  display: flex;
}

.nav-menu ul li {
  list-style-type: none;
}

.nav-menu ul li .link {
  text-decoration: none;
  padding-bottom: 0.8rem;
  margin: 0px 1.56rem;
  font-size: 1.1rem;
  color: black;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.link:hover,
.active {
  border-bottom: 0.12rem solid rgb(199, 199, 175);
}

.nav-button {
  margin-bottom: 2.2rem;
  margin-right: 2rem;
}

.nav-button .btn {
  text-decoration: none;
  color: black;
  margin-top: 2rem;
  padding: 0.5rem 1.2rem;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 1.87rem;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.25rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

.btn:hover {
  background: #0d7eba;
  color: white;
}

#registerBtn {
  margin-left: 0.93rem;
}

.nav-menu-btn {
  display: none;
}

/***************************************************
MAIN SECTION
***************************************************/
body {
  background: url("./img/filter_cover3.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.main--section {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  margin-left: 1.5rem;
}

.section1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

/************************************************
FILTER FORM
**********************************************/
.filter--form {
  width: 250px;
  height: 70vh;
  background-color: #0d7eba;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.filter--form p {
  align-self: center;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  color: white;
}

form {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 0.9rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

form .input-title {
  font-weight: 700;
  font-size: 0.9rem;
  margin-top: 0.8rem;
}

.form-field {
  border: 2px solid #ddd;
  height: 2rem;
  border-radius: 4px;
  outline: 0;
  transition: 0.2s;
  margin-top: 0.8rem;
}

.form-field:focus {
  border-color: #0d7eba;
}

.status-title {
  font-weight: 700;
  font-size: 1rem;
}

.type {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.types {
  display: flex;
  flex-wrap: wrap;
}

.input-box1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 0.8rem;
}

.input-box2 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 0.8rem;
}

.input-box2 .details {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}

.input-box2 input {
  margin-top: 0.3rem;
}

.slidecontainer {
  margin-top: 1.5rem;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 20px;
  height: 10px;
  margin-top: 0.8rem;
  background: #0d7eba;
}

.input-box3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-box3 .inpu-title {
  margin-top: 1.3rem;
}

.input-box4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-box4 .input-title {
  margin-top: 1.3rem;
}

.button--container {
  align-self: center;
  margin: 1rem;
}

.filter-btn {
  text-decoration: none;
  justify-self: center;
  padding: 0.6rem 2rem;
  border-radius: 20px;
  background-color: #0d7eba;
  color: white;
  font-family: "Nunito", sans-serif;
}

.filter-btn:hover {

  background-color: black;
  color: white;

}

.section2 {
  width: 55%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: thin;
  font-family: "Nunito", sans-serif;
}

.section2--title {
  text-align: center;
  color: #545454;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
}

.card {
  width: 260px;
  margin: 40px;
  height: 500px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.card--image {
  margin-top: 1rem;
  width: 85%;
  height: 50%;
  border-radius: 30px;
  border-color: #0d7eba;
  border-style: solid;
  border-width: thin;
}

.card--body {
  background-color: #c7e6ef;
  width: 85%;
  color: black;
  margin-top: 0.5rem;
  height: 40%;
  border-radius: 10px;
  color: #545454;
  display: flex;
  flex-direction: column;
}

.general-info {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  width: 100%;
}

.card--body .right {
  font-size: 16px;
  font-weight: 600;
  margin-left: 4rem;
  width: 60%;
}

.card--body .left {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-size: 20px;
}

.left .status {
  margin-top: 0.5rem;
  font-size: 15px;
  padding: 0.3rem;
  background-color: #0d7eba;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.card--details {
  padding: 0.4rem;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

.card--body a {
  text-decoration: none;
  margin-top: 0.6rem;
  align-self: center;
  padding: 0.6rem;
  background-color: #0d7eba;
  border-radius: 15px;
  border-color: #0d7eba;
  border-style: hidden;
  color: white;
  font-size: 14px;
}

.card--body a:hover {
  background-color: black;
}

.section3 {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 iframe {
  width: 100%;
  height: 100%;
}

.search-menu-bar {
  display: none;
}

/************************************
RESPONSIVE
*************************************/

@media only screen and (max-width: 1032px) {
  .nav-menu ul li .link {
    padding-bottom: 0.9rem;
    margin: 0px 0.93rem;
    font-size: 0.8rem;
  }

  .nav-button {
    margin-right: 1rem;
  }

  .nav-button .btn {

    padding: 0.5rem 0.8rem;

  }

  .nav-logo img {
    margin-top: 0.6rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  .section1 {
    display: none;
  }

  .section3 {
    display: none;
  }

  .section2 {
    width: 100%;
  }


  .nav-logo img {
    height: 3.5rem;
    margin-top: 1.1rem;
    margin-left: -2rem;
  }

  .nav-button .btn {

    font-size: 0.8rem;
  }

  .nav-menu {
    display: none;
  }

  .search-menu-bar {
    display: block !important;
    position: fixed;
    z-index: 99;
    background: #fff;
    box-shadow: 0 -2px 70px #0000001f;
    border-radius: 10px;
    bottom: 1.2rem;
    width: 92%;
    left: 50%;
    padding: 15px 0;
    transform: translate(-50%);
  }

  .search-menu-bar ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
  }

  .search-menu-bar ul li {
    width: 33%;
    text-align: center;
    margin-top: 1px;
    border-right: 1px solid #f7f7f7;
  }

  .search-menu-bar ul li a {
    text-decoration: none;
    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #9a9a9a;
    border: none;
    background-color: transparent;
    margin: auto;

  }

  .search-menu-bar img {
    width: 16px;
    margin-right: 6px;
    margin-bottom: -2.5px;
  }


}

@media only screen and (max-width: 720px) {
  .nav-button .btn {
    width: 4rem;
    height: 2.2rem;
    font-size: 0.8rem;
  }


}