@import url("navbar.css");
@import url("footer.css");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Sora:wght@100..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: black;
  padding: 0rem 10rem;
}

.title1 h1 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 5rem;
 font-family:  "Lora", sans-serif;
}

.title1 .btn {
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 1.75rem;
  margin-top: 1.25rem;
  font-family: Coiny;
  border: none;
  color: black;
  background: #f7dcbc;
  cursor: pointer;
  border-radius: 3.12rem;
}
.title1 .btn:hover {
  background: #0d7eba;
  color: white;
}

/***********************************************************************
 *  Cover
 **********************************************************************/

.container {
  /*show heigh: auto*/
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #83b7a5;
  /* background: linear-gradient(180deg, #ffffff, #b6dbc9);*/
  background: url("./img/cover.png") no-repeat;
  background-position: center;
  background-size: cover;
}

/***********************************************************************
*  Container2
**********************************************************************/

.container2 {
  margin-top: 5.5rem;
  display: flex;
  gap: 1.25rem;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

.report {
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-height: 25rem;
  overflow: hidden;
  display: flex;
}

.report .image-form,
.container-form {
  flex: 1;
}

.report .image-form img {
  width: 100%;
  padding: 2rem;
  height: auto;
}

.report .container-form {
  width: 100%;
  margin-left: 3rem;
  margin-bottom: 1rem;
  background: #f7dcbc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 25px 30px;
  border-radius: 30px;
}

.report .container-form .title {
  font-family: Coiny;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.report .container-form form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2-20px);
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: non e;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  padding-left: 15px;
  font-size: 16px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: black;
}
/**************************/

form .another-details .input-box {
  margin-bottom: 15px;
}
.another-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.another-details .input-box input {
  height: 85px;
  width: 70%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  padding-left: 15px;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.another-details .input-box input:focus,
.another-details .input-box input:valid {
  border-color: black;
}

/*************************/
form .status-details .status-title {
  font-size: 20px;
  font-weight: 500;
  font-family: Coiny;
}

form .status-details .category {
  display: flex;
  width: 80%;
  margin: 14px 0;
  justify-content: space-between;
}

.status-details .category label {
  font-family: Coiny;
  display: flex;
  align-items: center;
}
.status-details .category .dot {
  height: 18px;
  width: 18px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
  border-color: #d9d9d9;
  background: rgb(75, 75, 240);
}

form input[type="radio"] {
  display: none;
}
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #6bbbbd, #0d7eba);
}

form .button input:hover {
  background: linear-gradient(-135deg, #6bbbbd, #0d7eba);
}

.container-form > img {
  width: 100%;
}

.container-form > img {
  width: 100%;
  height: auto;
}
.upload-photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  font-family: Coiny;
  font-size: 1rem;
  gap: 10px;
}
.upload-photo i {
  font-size: 2rem;
  cursor: pointer;
}

/************************************************************
Carduri
*************************************************************/
.container3--title {
  text-align: left; /* Aliniere la stÃ¢nga */
  width: 70%; /* Latimea maxima a containerului */
  font-size: 1.25rem;
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 3rem 0 3rem 0;
  
}

.container3--title h1 {
  font-family: "Coiny", sans-serif;
  color: #595959;
  font-weight: 200;
  font-size: 2.5rem;
}

.container3--title span {
  color: #0d7eba;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 8px;
}
.grid-wrapper a{
  text-decoration: none;
}
.card {
  width: 250px;
  margin: 40px;
  height: 400px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background: url("./img/card_cover.png") no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translate3D(0, -1px, 0) scale(1.03);
}
.card--image {
  margin-top: 1rem;
  width: 80%;
  height: 60%;
  border-radius: 30px;
  border-color: white;
  border-style: solid;
}

.card--body {
  background-color: white;
  width: 75%;
  color: black;
  margin-top: 0.5rem;
  height: 30%;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card--body h3 {
  margin-bottom: 2rem;
}

.card--body p {
  margin-top: -1rem;
  font-size: 0.9rem;
}


/*****************************************
RESPONSIVE
******************************************/
@media only screen and (max-width: 1032px) {
  .nav-menu ul li .link {
    padding-bottom: 0.9rem;
    margin: 0px 0.93rem;
    font-size: 1.15rem;
  }

 .nav-button{
  margin-right: 1rem;
 }
  .nav-button .btn {
  
    padding: 0.3rem 1rem;
   
  }

  .nav-logo img {
    margin-top: 1rem;
    height: 4rem;
  }

  .title1 h1 {
    font-size: 3.5rem;
  }

  .title1 .btn {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 900px) {
  .nav-logo img {
    height: 3.5rem;
    margin-top: 1.3rem;
    margin-left: -2rem;
  }

  .nav-menu ul li .link {
    margin: 0px 0.9rem;
    font-size: 0.9rem;
    padding-bottom: 1rem;
  }

  .nav-button .btn {
  
    font-size: 0.9rem;
  }

  .title1 h1 {
    font-size: 3.5rem;
  }

  .title1 .btn {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
  }

  /***Pt containr2***/
  form .user-details .input-box {
    width: 100%;
  }

  form .status-details .category {
    width: 100%;
  }

  .container2 .report form {
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 786px) {
  .nav-button {
    display: none;
  }
  .nav-menu.responsive {
    top: 6.25rem;
  }
  .nav-menu {
    position: absolute;
    top: -800px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 90vh;
    backdrop-filter: blur(20px);
    transition: 0.3s;
  }
  .nav-menu ul {
    flex-direction: column;
    text-align: center;
  }
  .nav-menu-btn {
    display: block;
  }
  .nav-menu-btn i {
    font-size: 1.56rem;
    color: #fff;
    padding: 0.62rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  .nav-menu-btn i:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  .title1 h1 {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: 3.5rem;
  }

  .title1 .btn {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
  }

  .title1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 10rem;
  }

  /******Pt container2*******/
  .container2 {
    max-width: 100%;
  }
  .container2 .report {
    flex-direction: column;
  }
  .report .container-form {
    order: 2;
    max-width: 90%;
  }
  .report .image-form {
    margin-left: 1rem;
    order: 1;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .status-details .category {
    width: 100%;
  }

  .container2 .report form {
    max-height: 300px;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 540px) {
  .input-box p {
    padding: 0;
    margin-left: 0;
    margin-bottom: 0.375rem;
    font-size: 0.75rem;
  }

  .input-field {
    margin-left: 0;
    width: 100%;
    font-size: 0.75rem;
  }

  .submit {
    width: auto;
    margin-left: 0;
    margin-top: 1rem;
    padding: 0.5rem;
  }
  .wrapper {
    min-height: 100vh;
  }

  .title1 h1 {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: 3.5rem;
  }

  .title1 .btn {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    border-radius: 50px;
  }

  /******Pt container2*******/
  .container2 {
    max-width: 100%;
  }
  .container2 .report {
    flex-direction: column;
  }
  .report .container-form {
    order: 2;
    max-width: 90%;
  }
  .report .image-form {
    margin-left: 1rem;
    order: 1;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .status-details .category {
    width: 100%;
  }

  .container2 .report form {
    max-height: 300px;
    overflow-y: scroll;
  }
}
