@import url("navbar.css");
@import url("footer.css");
@import url('https://fonts.cdnfonts.com/css/hvdtrial-brandon-grotesque');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #303433;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/******************
*/

.banner img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 3.4rem;
}

/***Text***/
.content-section {
  max-width: 62.5rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.about-content h2 {
  font-size: 2em;
  font-family: Coiny;
  color: #000000;
  margin-bottom: 0.5em;
  text-align: center;
}

.about-content p {
  color: #666;
  line-height: 1.6;
  font-size: 1.2em;
  text-align: justify;
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;
}

/************************/

/***Container2****/
.container2 {
  margin-top: 5.5rem;
  display: flex;
  gap: 1.25rem;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;

}

.container2 .our-mission {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1.25rem;
  padding: 1.25rem;
  background-color: #f7dcbc;
  border-radius: 2.81rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;
}

.container2 .our-mission h1 {
  font-size: 2rem;
  font-family: Coiny;
  color: #000000;
  margin-bottom: 0.5em;
  text-align: center;
}

.container2 .our-mission p {
  color: #666;
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: 'HvDTrial Brandon Grotesque', sans-serif;
}

.report-pet {
  flex: 1;
}

.out-mission {
  flex: 2;
}

.report-pet img {
  width: 100%;
  padding: 2rem;
  height: auto;
}

.btn-pet {
  text-decoration: none;
  color: black;
  margin-top: 2rem;
  padding: 1rem 1.8rem;
  background: rgba(255, 255, 255, 0.4);
  font-family: Coiny;
  border: none;
  border-radius: 1.87rem;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.25rem;
}

.btn-pet:hover {
  background: #0d7eba;
  color: white;
}

/******************/

/* ----  Responsiveness   ----  */
@media (max-width: 1200px) {

  .login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    display: flex;
  }

  .container2 {
    max-width: 100%;
    flex-direction: column;
  }

  .container2 .our-mission {
    order: 2;
    max-width: 90%;
  }

  .container2 .report-pet {
    margin-left: 1rem;
    order: 1;
  }
}